@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --title-font: "Architects Daughter", cursive;
  --box-shadow: 0px 10px 20px 0px #8e8e8e;
  --primary-color: #64c4ed;
  --secondary-color: #1f386c;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 800px 600px;
  margin-top: 7rem;
}

h1 {
  font-family: var(--title-font);
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
}

h4 {
  font-weight: 600;
  font-size: 1.7rem;
}

.fa-phone,
.fa-envelope {
  margin: 3px 10px 0 0;
  font-size: 1rem;
}

.navbar {
  background-color: #ffffff !important;
  box-shadow: var(--box-shadow);
}

.navbar ul {
  margin-left: -430px;
}

.navbar li {
  margin-right: 20px;
  font-size: 1.1rem;
}

.navbar li:hover {
  color: var(--secondary-color) !important;
}

.active {
  color: var(--secondary-color) !important;
  font-weight: 500;
}

.details {
  font-size: 1.5rem;
}

.days {
  font-weight: 600;
}

#contact-details {
  background-color: var(--primary-color);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

#instagram i {
  margin: 2px 25px 0 0;
  font-size: 1.3rem;
}

#facebook i {
  font-size: 1.25rem;
}

#phone-number,
#email {
  margin-right: 25px;
}

#email,
#instagram,
#facebook {
  text-decoration: none;
  color: #000000;
}

#logo {
  max-width: 10%;
  margin-left: 30px;
}

#contact-information {
  margin-left: 8rem;
}

#contact-information a {
  color: #000000;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

#contact-information a:hover {
  color: var(--secondary-color);
}

#hours-list {
  text-align: center;
  list-style: none;
  position: relative;
  top: 20px;
  left: -215px;
}

#hours-list li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#map-image {
  max-width: 85%;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

#footer {
  background-color: var(--primary-color);
  box-shadow: 0px -3px 20px 0px #8e8e8e;
  height: 7rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.75;
  margin-top: 15rem;
}

#footer span {
  position: relative;
  top: 25px;
}
