@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Sans+Pro&display=swap");

:root {
  --title-font: "Architects Daughter", cursive;
  --box-shadow: 0px 10px 20px 0px #8e8e8e;
  --primary-color: #64c4ed;
  --secondary-color: #1f386c;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.fa-phone,
.fa-envelope {
  margin: 3px 10px 0 0;
  font-size: 1rem;
}

.navbar {
  background-color: #ffffff !important;
  box-shadow: var(--box-shadow);
}

.navbar ul {
  margin-left: -380px;
}

.navbar li {
  margin-right: 20px;
  font-size: 1.1rem;
}

.navbar li:hover {
  color: var(--secondary-color) !important;
}

.active {
  color: var(--secondary-color) !important;
  font-weight: 500;
}

.btn {
  max-width: 25%;
  margin: 0 7rem 6rem 0;
  box-shadow: var(--box-shadow);
}

.modal-dialog {
  max-width: 800px !important;
}

.modal-header,
.modal-footer {
  border: none !important;
}

#contact-details-wrapper {
  background-color: var(--primary-color);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

#instagram i {
  margin: 2px 25px 0 0;
  font-size: 1.3rem;
}

#facebook i {
  font-size: 1.25rem;
}

#phone-number,
#email {
  margin-right: 25px;
}

#email,
#instagram,
#facebook {
  text-decoration: none;
  color: #000000;
}

#logo {
  max-width: 12%;
  margin-left: 30px;
}

#gallery-container {
  margin: 8rem 0 0 6.5rem;
}

#gallery-container.row {
  display: flex;
}

#gallery-container img {
  padding: 0.2rem;
}

#pic11,
#pic12 {
  height: 100% !important;
}

#exampleModal img {
  max-width: 100%;
}

#footer {
  background-color: var(--primary-color);
  box-shadow: 0px -3px 20px 0px #8e8e8e;
  height: 7rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.75;
  margin-top: 8rem;
}

#footer span {
  position: relative;
  top: 25px;
}

@media (min-width: 214px) and (max-width: 215px) {
  .navbar-toggler {
    left: 150px !important;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -2.7rem;
  }

  #contact-details {
    left: 45px !important;
  }
}

@media (min-width: 214px) and (max-width: 276px) {
  .fa-phone {
    position: relative;
    left: 22px;
  }

  .fa-envelope {
    position: relative;
    top: 15px;
    left: -118px;
  }

  .fa-phone,
  .fa-envelope {
    font-size: 0.5rem;
  }

  .navbar-toggler-icon {
    width: 1rem !important;
  }

  .navbar-toggler {
    position: relative;
    top: -51px !important;
    border: none !important;
  }

  .navbar ul {
    margin-top: -50px;
  }

  #contact-details-wrapper {
    height: 4rem;
  }

  #contact-details {
    font-size: 0.6rem;
    position: relative;
    top: -10px !important;
  }

  #phone-number {
    position: relative;
    left: 15px;
  }

  #instagram i {
    position: relative;
    top: 20px !important;
    left: -140px !important;
    margin: 0;
  }

  #facebook i {
    position: relative;
    top: 19px !important;
    left: -105px !important;
  }

  #instagram i,
  #facebook i {
    font-size: 0.6rem;
  }

  #logo {
    max-width: 23%;
    margin: -24px 0 4px 5px;
  }

  #footer {
    margin-top: 25rem;
  }

  #footer span {
    font-size: 0.6rem;
  }
}

@media (min-width: 214px) and (max-width: 854px) {
  .navbar ul {
    margin-left: 0;
  }

  .navbar li {
    font-size: 1rem;
  }

  #wrapper {
    overflow-x: hidden;
  }
}

@media (min-width: 250px) and (max-width: 251px) {
  .navbar-toggler {
    left: 190px !important;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -2.7rem;
  }

  #contact-details {
    left: 65px !important;
  }
}

@media (min-width: 276px) and (max-width: 277px) {
  .navbar-toggler {
    left: 220px !important;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -2.5rem;
  }

  #contact-details {
    left: 80px !important;
  }
}

@media (min-width: 320px) and (max-width: 321px) {
  .navbar-toggler {
    margin-left: 16rem;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -2.5rem;
  }

  #contact-details {
    position: relative;
    top: 5px;
    left: 35px;
  }

  #instagram i {
    position: relative;
    top: 9px !important;
    left: 70px !important;
  }

  #facebook i {
    position: relative;
    top: 8px;
    left: 105px;
  }

  #footer {
    font-size: 0.9rem;
  }
}

@media (min-width: 320px) and (max-width: 534px) {
  .navbar-toggler {
    margin-top: -2.4rem;
  }

  #logo {
    max-width: 20%;
    margin: -10px 0 -7px 10px;
  }
}

@media (min-width: 320px) and (max-width: 854px) {
  .fa-phone {
    position: relative;
    top: -26px;
    left: 55px;
  }

  .fa-envelope {
    position: relative;
    top: 1px;
    left: 4px;
  }

  .fa-phone,
  .fa-envelope {
    font-size: 0.8rem;
  }

  .navbar-toggler {
    border: none !important;
  }

  #contact-details-wrapper {
    height: 6rem;
  }

  #phone-number {
    margin-left: -10rem;
    position: relative;
    top: -26px;
    left: 210px;
  }

  #instagram i {
    position: relative;
    top: 33px;
    left: -225px;
  }

  #footer {
    font-size: 1rem;
  }
}

@media (min-width: 360px) and (max-width: 379px) {
  .navbar-toggler {
    margin-left: 18rem;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -2.2rem;
  }
}

@media (min-width: 360px) and (max-width: 854px) {
  #contact-details {
    position: relative;
    top: -5px;
    left: 60px;
  }

  #facebook i {
    position: relative;
    top: 32px;
    left: -195px;
  }
}

@media (min-width: 384px) and (max-width: 393px) {
  .navbar-toggler {
    margin-left: 20rem;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -2.1rem;
  }
}

@media (min-width: 400px) and (max-width: 414px) {
  .navbar-toggler {
    margin-left: 21rem;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -2.1rem;
  }
}

@media (min-width: 427px) and (max-width: 432px) {
  .navbar-toggler {
    margin-left: 22rem;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -2.1rem;
  }
}

@media (min-width: 480px) and (max-width: 504px) {
  .navbar-toggler {
    margin-left: 25rem;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -1.8rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .navbar ul {
    margin-top: 1.5rem;
  }

  .navbar li {
    font-size: 1.3rem;
  }
}

@media (min-width: 534px) and (max-width: 535px) {
  .navbar-toggler {
    margin-left: 28rem;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -1.8rem;
  }
}

@media (min-width: 600px) and (max-width: 608px) {
  .navbar-toggler {
    margin-top: -2.7rem;
    margin-left: 32rem;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -1.5rem;
  }
}

@media (min-width: 600px) and (max-width: 854px) {
  #logo {
    max-width: 17%;
    margin: -8px 0 -7px 10px;
  }
}

@media (min-width: 720px) and (max-width: 721px) {
  .navbar-toggler-icon {
    width: 2.3rem !important;
  }

  .navbar-toggler {
    margin-top: -3.6rem;
    margin-left: 39rem;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -1.1rem;
  }
}

@media (min-width: 768px) and (max-width: 769px) {
  .navbar-toggler {
    margin-top: -3.7rem;
    margin-left: 41.5rem;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .navbar-toggler-icon {
    width: 2.6rem !important;
  }

  .btn {
    max-width: 90%;
    margin: 0 0 6rem -1rem;
  }
}

@media (min-width: 800px) and (max-width: 854px) {
  .navbar ul {
    margin-top: 2rem;
  }

  .navbar li {
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) and (max-width: 801px) {
  .navbar-toggler {
    margin: -3.9rem 0 0 43.6rem;
  }
}

@media (min-width: 854px) and (max-width: 855px) {
  .navbar-toggler-icon {
    width: 2.9rem !important;
  }

  .navbar-toggler {
    margin: -4.2rem 0 0 47rem;
  }

  .btn {
    max-width: 30%;
    margin: 0 1rem 6rem 0;
  }

  #gallery-container {
    margin-left: 3.1rem;
  }
}

@media (min-width: 1000px) and (max-width: 1024px) {
  .navbar ul {
    margin-left: -382px;
  }

  i {
    position: relative;
    top: 2px;
  }

  .btn {
    max-width: 30%;
    margin: 0 2rem 6rem 0;
  }

  #gallery-container {
    margin-left: 3.2rem;
  }
}
