@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Sans+Pro&display=swap");

:root {
  --title-font: "Architects Daughter", cursive;
  --box-shadow: 0px 10px 20px 0px #8e8e8e;
  --primary-color: #64c4ed;
  --secondary-color: #1f386c;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.fa-phone,
.fa-envelope {
  margin: 3px 10px 0 0;
  font-size: 1rem;
}

.navbar {
  background-color: #ffffff !important;
  box-shadow: var(--box-shadow);
}

.navbar ul {
  margin-left: -380px;
}

.navbar li {
  margin-right: 20px;
  font-size: 1.1rem;
}

.navbar li:hover {
  color: var(--secondary-color) !important;
}

.active {
  color: var(--secondary-color) !important;
  font-weight: 500;
}

.btn {
  max-width: 25%;
  margin: 0 7rem 6rem 0;
  box-shadow: var(--box-shadow);
}

.modal-dialog {
  max-width: 800px !important;
}

.modal-header,
.modal-footer {
  border: none !important;
}

#contact-details {
  background-color: var(--primary-color);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

#instagram i {
  margin: 2px 25px 0 0;
  font-size: 1.3rem;
}

#facebook i {
  font-size: 1.25rem;
}

#phone-number,
#email {
  margin-right: 25px;
}

#email,
#instagram,
#facebook {
  text-decoration: none;
  color: #000000;
}

#logo {
  max-width: 12%;
  margin-left: 30px;
}

#gallery-container {
  margin: 8rem 0 0 6.5rem;
}

#gallery-container.row {
  display: flex;
}

#gallery-container img {
  padding: 0.2rem;
}

#pic11,
#pic12 {
  height: 100% !important;
}

#exampleModal img {
  max-width: 100%;
}

#footer {
  background-color: var(--primary-color);
  box-shadow: 0px -3px 20px 0px #8e8e8e;
  height: 7rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.75;
  margin-top: 8rem;
}

#footer span {
  position: relative;
  top: 25px;
}

@media (min-width: 320px) and (max-width: 450px) and (orientation: portrait) {
  .navbar ul {
    margin-left: 0;
  }

  .navbar li {
    font-size: 1rem;
  }

  #wrapper {
    overflow-x: hidden;
  }

  #logo {
    max-width: 17%;
    margin: -15px 0 -10px;
  }
}

@media (min-width: 320px) and (max-width: 396px) and (orientation: portrait) {
  .navbar-toggler {
    margin: -2.5rem 0 0 20rem;
    border: none !important;
  }
}

@media (min-width: 397px) and (max-width: 420px) and (orientation: portrait) {
  .navbar-toggler {
    margin: -2.5rem 0 0 21rem;
    border: none !important;
  }
}

@media (min-width: 421px) and (max-width: 432px) and (orientation: portrait) {
  .navbar-toggler {
    margin: -2.5rem 0 0 22rem;
    border: none !important;
  }
}
