@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Sans+Pro&display=swap");

:root {
  --title-font: "Architects Daughter", cursive;
  --box-shadow: 0px 10px 20px 0px #8e8e8e;
  --primary-color: #64c4ed;
  --secondary-color: #1f386c;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.fa-phone,
.fa-envelope {
  margin: 3px 10px 0 0;
  font-size: 1rem;
}

.navbar {
  background-color: #ffffff !important;
  box-shadow: var(--box-shadow);
}

.navbar ul {
  margin-left: -380px;
}

.navbar li {
  margin-right: 20px;
  font-size: 1.1rem;
}

.navbar li:hover {
  color: var(--secondary-color) !important;
}

.active {
  color: var(--secondary-color) !important;
  font-weight: 500;
}

.carousel {
  max-width: 70%;
  min-height: 500px;
  margin-left: 13.6rem;
  box-shadow: var(--box-shadow);
  background-color: #ffffff;
  border: solid #ffffff;
  border-width: 40px 40px 10px;
  border-radius: 15px;
  position: relative;
  top: 40px;
}

.carousel-control-prev-icon {
  margin-left: -150px;
}

.carousel-control-next-icon {
  margin-left: 100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-top: 4rem;
}

#contact-details-wrapper {
  background-color: var(--primary-color);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

#instagram i {
  margin: 2px 25px 0 0;
  font-size: 1.3rem;
}

#facebook i {
  font-size: 1.25rem;
}

#phone-number,
#email {
  margin-right: 25px;
}

#email,
#instagram,
#facebook {
  text-decoration: none;
  color: #000000;
}

#logo {
  max-width: 12%;
  margin-left: 30px;
}

#hero-section {
  background-color: var(--primary-color);
  display: flex;
  flex-grow: 1;
  height: 34rem;
  color: #ffffff;
}

#hero-image {
  width: 600px;
  height: 92%;
  position: relative;
  top: 43px;
}

#business-name {
  text-align: left;
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: -1px -1px 20px #4aa5c9, 1px -1px 20px #4aa5c9,
    -1px 1px 20px #4aa5c9, 1px 1px 20px #4aa5c9;
  position: relative;
  top: 50px;
  left: 150px;
}

#tag-line {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  top: 440px;
  left: 115px;
  margin-left: -464px;
}

#about {
  display: flex;
  flex-grow: 1;
  margin-bottom: 7rem;
}

#about-title {
  margin: 10rem 0;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

#bio-image {
  max-width: 35%;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  margin-left: 12rem;
}

#biography {
  font-size: 1.4rem;
  line-height: 1.45;
  width: 450px;
  margin-left: 5rem;
}

#services-button {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 18px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.3rem;
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  top: -280px;
  left: 768px;
}

#services-button:hover {
  box-shadow: var(--box-shadow);
}

#reviews-section {
  height: 1100px;
  background-color: #edf7fa;
}

#reviews-heading {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 12rem;
  position: relative;
  top: 100px;
}

#footer {
  background-color: var(--primary-color);
  box-shadow: 0px -3px 20px 0px #8e8e8e;
  height: 7rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.75;
}

#footer span {
  position: relative;
  top: 25px;
}

@media (min-width: 214px) and (max-width: 215px) {
  .navbar-toggler {
    left: 150px !important;
  }

  #contact-details {
    left: 45px !important;
  }

  #bio-image {
    margin-left: 1rem;
  }

  #biography {
    top: 230px;
    left: -4px;
    margin-left: -12rem;
  }

  #services-button {
    top: 170px;
    left: 53px;
  }
}

@media (min-width: 214px) and (max-width: 250px) {
  #tag-line {
    margin-left: -200px;
    left: -5px;
  }
}

@media (min-width: 214px) and (max-width: 276px) {
  .fa-phone {
    position: relative;
    left: 22px;
  }

  .fa-envelope {
    position: relative;
    top: 15px;
    left: -118px;
  }

  .fa-phone,
  .fa-envelope {
    font-size: 0.5rem;
  }

  .navbar-toggler-icon {
    width: 1rem !important;
  }

  .navbar-toggler {
    position: relative;
    top: -51px !important;
    border: none !important;
  }

  .navbar ul {
    margin-top: -50px;
  }

  #contact-details-wrapper {
    height: 4rem;
  }

  #contact-details {
    font-size: 0.6rem;
    position: relative;
    top: -10px !important;
  }

  #phone-number {
    position: relative;
    left: 15px;
  }

  #instagram i {
    position: relative;
    top: 20px !important;
    left: -140px !important;
    margin: 0;
  }

  #facebook i {
    position: relative;
    top: 19px !important;
    left: -105px !important;
  }

  #instagram i,
  #facebook i {
    font-size: 0.6rem;
  }

  #logo {
    max-width: 23%;
    margin: -24px 0 4px 5px;
  }

  #hero-section {
    height: 20rem;
  }

  #hero-image {
    height: 50%;
    width: 65%;
    position: relative;
    top: 160px;
  }

  #business-name {
    font-size: 2.2rem;
    position: relative;
    top: 25px;
    left: -115px;
    margin: 0;
  }

  #tag-line {
    font-size: 0.8rem;
    position: relative;
    top: 215px;
  }

  #about-title {
    font-size: 2rem;
  }

  #bio-image {
    max-width: 87%;
    height: 50%;
    margin-top: -3rem;
  }

  #biography {
    position: relative;
    font-size: 1rem;
  }

  #services-button {
    padding: 10px;
    font-size: 1rem;
  }

  #reviews-section {
    display: none;
  }

  #footer {
    margin-top: 25rem;
  }

  #footer span {
    font-size: 0.6rem;
  }
}

@media (min-width: 214px) and (max-width: 854px) {
  .navbar ul {
    margin-left: 0;
  }

  .navbar li {
    font-size: 1rem;
  }

  #wrapper {
    overflow-x: hidden;
  }

  #business-name {
    text-shadow: -1px -1px 10px #4aa5c9, 1px -1px 10px #4aa5c9,
      -1px 1px 10px #4aa5c9, 1px 1px 10px #4aa5c9;
  }
}

@media (min-width: 250px) and (max-width: 251px) {
  .navbar-toggler {
    left: 190px !important;
  }

  #contact-details {
    left: 65px !important;
  }

  #bio-image {
    margin-left: 1.1rem;
  }

  #biography {
    top: 270px;
    left: 0px;
    margin-left: -14rem;
  }

  #services-button {
    top: 230px;
    left: 71px;
  }
}

@media (min-width: 276px) and (max-width: 277px) {
  .navbar-toggler {
    left: 220px !important;
  }

  #contact-details {
    left: 80px !important;
  }

  #tag-line {
    margin-left: -150px;
    left: -40px;
  }

  #bio-image {
    margin-left: 1.2rem;
  }

  #biography {
    top: 300px;
    left: -7px;
    margin-left: -15rem;
  }

  #services-button {
    top: 260px;
    left: 81px;
  }
}

@media (min-width: 320px) and (max-width: 321px) {
  .navbar-toggler {
    margin-left: 16rem;
  }

  #contact-details {
    position: relative;
    top: 5px;
    left: 35px;
  }

  #instagram i {
    position: relative;
    top: 9px !important;
    left: 70px !important;
  }

  #facebook i {
    position: relative;
    top: 8px;
    left: 105px;
  }

  #hero-image {
    width: 230px;
  }

  #business-name {
    top: 30px;
    left: -195px;
    font-size: 3.3rem;
  }

  #tag-line {
    top: 350px;
    left: -1px;
    font-size: 0.9rem;
    margin-left: -308px;
  }

  #reviews-heading {
    font-size: 1.3rem;
  }

  #footer {
    font-size: 0.9rem;
  }
}

@media (min-width: 320px) and (max-width: 432px) {
  #hero-image {
    top: 261px;
  }

  #biography {
    font-size: 1.2rem;
    left: 7px;
  }
}

@media (min-width: 320px) and (max-width: 346px) {
  #services-button {
    left: 6rem;
  }
}

@media (min-width: 320px) and (max-width: 379px) {
  #bio-image {
    left: -10.9rem;
  }
}

@media (min-width: 320px) and (max-width: 384px) {
  .carousel {
    margin-left: 1.1rem;
  }
}

@media (min-width: 320px) and (max-width: 534px) {
  .navbar-toggler {
    margin-top: -2.4rem;
  }

  #logo {
    max-width: 20%;
    margin: -10px 0 -7px 10px;
  }

  #hero-image {
    height: 52%;
  }

  #services-button {
    padding: 13px;
  }
}

@media (min-width: 320px) and (max-width: 608px) {
  #bio-image {
    max-width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 854px) {
  .fa-phone {
    position: relative;
    top: -26px;
    left: 55px;
  }

  .fa-envelope {
    position: relative;
    top: 1px;
    left: 4px;
  }

  .fa-phone,
  .fa-envelope {
    font-size: 0.8rem;
  }

  .navbar-toggler {
    border: none !important;
  }

  .carousel {
    max-width: 90%;
    min-height: 275px;
  }

  .carousel-control-prev-icon {
    margin-left: -70px;
  }

  .carousel-control-next-icon {
    left: 35px;
    z-index: 1;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    margin-top: 2rem;
  }

  #contact-details-wrapper {
    height: 6rem;
  }

  #phone-number {
    margin-left: -10rem;
    position: relative;
    top: -26px;
    left: 210px;
  }

  #instagram i {
    position: relative;
    top: 33px;
    left: -225px;
  }

  #about {
    display: block;
  }

  #bio-image {
    height: 32rem;
    position: relative;
    top: -30px;
  }

  #biography {
    text-align: center;
    width: 95%;
    margin: 0;
    position: relative;
    top: 50px;
  }

  #services-button {
    top: 0px;
  }

  #reviews-section {
    margin-top: 5rem;
    height: 900px;
  }

  #footer {
    font-size: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .carousel-control-next-icon {
    margin-left: 0;
    position: relative;
  }
}

@media (min-width: 360px) and (max-width: 379px) {
  .navbar-toggler {
    margin-left: 18rem;
  }

  #tag-line {
    font-size: 1rem;
  }
}

@media (min-width: 360px) and (max-width: 384px) {
  #services-button {
    left: 7rem;
  }
}

@media (min-width: 360px) and (max-width: 432px) {
  #hero-image {
    width: 400px;
  }

  #business-name {
    top: 30px;
    left: -240px;
    font-size: 4rem;
  }

  #tag-line {
    top: 370px;
    left: -23px;
    margin-left: -325px;
    line-height: 1.5;
  }

  #reviews-heading {
    font-size: 1.7rem;
  }
}

@media (min-width: 360px) and (max-width: 854px) {
  #contact-details {
    position: relative;
    top: -5px;
    left: 60px;
  }

  #facebook i {
    position: relative;
    top: 32px;
    left: -195px;
  }
}

@media (min-width: 384px) and (max-width: 432px) {
  #tag-line {
    font-size: 1rem;
  }

  #bio-image {
    left: -10.5rem;
  }
}

@media (min-width: 384px) and (max-width: 393px) {
  .navbar-toggler {
    margin-left: 20rem;
  }
}

@media (min-width: 390px) and (max-width: 414px) {
  #services-button {
    left: 8.7rem;
  }
}

@media (min-width: 390px) and (max-width: 432px) {
  .carousel {
    margin-left: 1.35rem;
  }
}

@media (min-width: 400px) and (max-width: 414px) {
  .navbar-toggler {
    margin-left: 21rem;
  }
}

@media (min-width: 427px) and (max-width: 432px) {
  .navbar-toggler {
    margin-left: 22rem;
  }

  #services-button {
    left: 9.2rem;
  }
}

@media (min-width: 480px) and (max-width: 481px) {
  .carousel {
    margin-left: 1.5rem;
  }

  #bio-image {
    left: -9.65rem;
  }

  #biography {
    left: 13px;
  }

  #services-button {
    left: 10.4rem;
  }
}

@media (min-width: 480px) and (max-width: 504px) {
  .navbar-toggler {
    margin-left: 25rem;
  }
}

@media (min-width: 480px) and (max-width: 534px) {
  #hero-image {
    width: 450px;
    top: 230px;
  }

  #business-name {
    top: 10px;
    left: -160px;
    font-size: 4rem;
  }

  #tag-line {
    left: -102px;
    top: 300px;
  }

  #reviews-heading {
    font-size: 2rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .navbar ul {
    margin-top: 1.5rem;
  }

  .navbar li {
    font-size: 1.3rem;
  }
}

@media (min-width: 504px) and (max-width: 505px) {
  #bio-image {
    left: -8.9rem;
  }

  #biography {
    left: 10px;
  }

  #services-button {
    left: 11rem;
  }
}

@media (min-width: 504px) and (max-width: 534px) {
  .carousel {
    margin-left: 1.7rem;
  }

  #biography {
    font-size: 1.6rem;
  }
}

@media (min-width: 534px) and (max-width: 535px) {
  .navbar-toggler {
    margin-left: 28rem;
  }

  #bio-image {
    left: -8rem;
  }

  #services-button {
    left: 12rem;
  }
}

@media (min-width: 534px) and (max-width: 608px) {
  #biography {
    left: 12px;
  }
}

@media (min-width: 600px) and (max-width: 608px) {
  .navbar-toggler {
    margin-top: -2.7rem;
    margin-left: 32rem;
  }

  .carousel {
    margin-left: 1.85rem;
  }

  #hero-image {
    width: 45%;
  }

  #business-name {
    top: 20px;
    left: -18px;
    font-size: 4.2rem;
  }

  #tag-line {
    left: -131px;
  }

  #bio-image {
    left: -5.9rem;
  }

  #services-button {
    left: 14rem;
  }
}

@media (min-width: 600px) and (max-width: 720px) {
  #tag-line {
    top: 310px;
  }
}

@media (min-width: 600px) and (max-width: 854px) {
  .carousel {
    padding: 0px;
  }

  #logo {
    max-width: 17%;
    margin: -8px 0 -7px 10px;
  }

  #hero-image {
    top: 168px;
    height: 65%;
  }
}

@media (min-width: 720px) and (max-width: 721px) {
  .navbar-toggler-icon {
    width: 2.3rem !important;
  }

  .navbar-toggler {
    margin-top: -3.6rem;
    margin-left: 39rem;
  }

  #hero-image {
    width: 160%;
  }

  #business-name {
    top: 24px;
    left: 0px;
    font-size: 4.7rem;
  }

  #tag-line {
    left: -142px;
  }

  #bio-image {
    left: -1.9rem;
  }

  #services-button {
    left: 18.3rem;
  }
}

@media (min-width: 720px) and (max-width: 768px) {
  .carousel {
    margin-left: 2.25rem;
  }
}

@media (min-width: 720px) and (max-width: 854px) {
  #reviews-section {
    height: 1100px;
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  #business-name {
    line-height: 1.1;
  }
}

@media (min-width: 720px) and (max-width: 800px) {
  .carousel-indicators {
    display: none;
  }

  #biography {
    font-size: 1.8rem;
    left: 19px;
  }

  #reviews-heading {
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 769px) {
  .navbar-toggler {
    margin-top: -3.7rem;
    margin-left: 41.5rem;
  }

  #business-name {
    font-size: 5rem;
  }

  #tag-line {
    top: 325px;
    left: -170px;
  }

  #bio-image {
    max-width: 100%;
    left: -0.6rem;
  }

  #services-button {
    left: 18.4rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .navbar-toggler-icon {
    width: 2.6rem !important;
  }

  #hero-image {
    width: 50%;
  }

  #business-name {
    top: 25px;
    left: 10px;
  }

  #services-button {
    padding: 25px;
  }
}

@media (min-width: 800px) and (max-width: 854px) {
  .navbar ul {
    margin-top: 2rem;
  }

  .navbar li {
    font-size: 1.5rem;
  }

  #business-name {
    font-size: 5.3rem;
  }

  #bio-image {
    max-width: 150%;
  }

  #services-button {
    font-size: 1.7rem;
  }
}

@media (min-width: 800px) and (max-width: 801px) {
  .navbar-toggler {
    margin: -3.9rem 0 0 43.6rem;
  }

  .carousel {
    margin-left: 2.5rem;
  }

  #tag-line {
    top: 354px;
    left: -175px;
  }

  #bio-image {
    left: 0.8rem;
  }

  #services-button {
    left: 19.5rem;
  }
}

@media (min-width: 854px) and (max-width: 855px) {
  .navbar-toggler-icon {
    width: 2.9rem !important;
  }

  .navbar-toggler {
    margin: -4.2rem 0 0 47rem;
  }

  .carousel {
    margin-left: 2.7rem;
  }

  #business-name {
    top: 45px;
    left: 35px;
  }

  #tag-line {
    top: 385px;
    left: -185px;
  }

  #bio-image {
    left: 2.5rem;
  }

  #biography {
    font-size: 2rem;
    left: 18px;
  }

  #services-button {
    left: 22rem;
  }

  #reviews-heading {
    font-size: 3.2rem;
  }
}

@media (min-width: 1000px) and (max-width: 1024px) {
  .navbar ul {
    margin-left: -382px;
  }

  .carousel {
    max-width: 88%;
    margin-left: 4rem;
  }

  .carousel-control-next-icon {
    left: 75px;
  }

  i {
    position: relative;
    top: 2px;
  }

  #business-name {
    top: 30px;
    left: 25px;
  }

  #tag-line {
    margin-left: -251px;
    top: 400px;
    left: -200px;
  }

  #about {
    margin-left: -8rem;
  }

  #biography {
    margin-left: 2rem;
  }

  #services-button {
    left: 491px;
    top: -162px;
  }

  #reviews-section {
    height: 1400px;
  }

  #reviews-heading {
    font-size: 3.8rem;
  }
}
