@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Sans+Pro&display=swap");

:root {
  --title-font: "Architects Daughter", cursive;
  --box-shadow: 0px 10px 20px 0px #8e8e8e;
  --primary-color: #64c4ed;
  --secondary-color: #1f386c;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.fa-phone,
.fa-envelope {
  margin: 3px 10px 0 0;
  font-size: 1rem;
}

.navbar {
  background-color: #ffffff !important;
  box-shadow: var(--box-shadow);
}

.navbar ul {
  margin-left: -380px;
}

.navbar li {
  margin-right: 20px;
  font-size: 1.1rem;
}

.navbar li:hover {
  color: var(--secondary-color) !important;
}

.active {
  color: var(--secondary-color) !important;
  font-weight: 500;
}

.carousel {
  max-width: 70%;
  min-height: 500px;
  margin-left: 13.6rem;
  box-shadow: var(--box-shadow);
  background-color: #ffffff;
  border: solid #ffffff;
  border-width: 40px 40px 10px;
  border-radius: 15px;
  position: relative;
  top: 40px;
}

.carousel-control-prev-icon {
  margin-left: -150px;
}

.carousel-control-next-icon {
  margin-left: 100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-top: 4rem;
}

#contact-details-wrapper {
  background-color: var(--primary-color);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

#instagram i {
  margin: 2px 25px 0 0;
  font-size: 1.3rem;
}

#facebook i {
  font-size: 1.25rem;
}

#phone-number,
#email {
  margin-right: 25px;
}

#email,
#instagram,
#facebook {
  text-decoration: none;
  color: #000000;
}

#logo {
  max-width: 12%;
  margin-left: 30px;
}

#hero-section {
  background-color: var(--primary-color);
  display: flex;
  flex-grow: 1;
  height: 30rem;
  color: #ffffff;
  font-family: var(--title-font);
}

#hero-image {
  width: 800px;
  height: 92%;
  position: relative;
  top: 38px;
}

#business-name {
  text-align: left;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: -1px -1px 20px #4aa5c9, 1px -1px 20px #4aa5c9,
    -1px 1px 20px #4aa5c9, 1px 1px 20px #4aa5c9;
  position: relative;
  top: 50px;
  left: 170px;
}

#tag-line {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  top: 422px;
  left: -220px;
  margin-left: -200px;
}

#paw-print {
  max-width: 3%;
  position: relative;
  top: -36px;
  left: 315px;
}

#about {
  display: flex;
  flex-grow: 1;
  margin-bottom: 7rem;
}

#about-title {
  margin: 10rem 0;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

#bio-image {
  max-width: 35%;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  margin-left: 12rem;
}

#biography {
  font-size: 1.4rem;
  line-height: 1.45;
  width: 450px;
  margin-left: 5rem;
}

#services-button {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 18px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.3rem;
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  top: -280px;
  left: 768px;
}

#services-button:hover {
  box-shadow: var(--box-shadow);
}

#reviews-section {
  height: 1100px;
  background-color: #edf7fa;
}

#reviews-heading {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 12rem;
  position: relative;
  top: 100px;
}

#footer {
  background-color: var(--primary-color);
  box-shadow: 0px -3px 20px 0px #8e8e8e;
  height: 7rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.75;
}

#footer span {
  position: relative;
  top: 25px;
}

@media (min-width: 320px) and (max-width: 432px) and (orientation: portrait) {
  .fa-phone {
    position: relative;
    top: -25px;
    left: 55px;
  }

  .fa-envelope {
    position: relative;
    top: 1px;
    left: 4px;
  }

  .fa-phone,
  .fa-envelope {
    font-size: 0.8rem;
  }

  .navbar ul {
    margin-left: 0;
  }

  .navbar li {
    font-size: 1rem;
  }

  .carousel {
    max-width: 90%;
    min-height: 275px;
    border: 7px 5px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }

  #wrapper {
    overflow-x: hidden;
  }

  #contact-details-wrapper {
    height: 6rem;
  }

  #phone-number {
    margin-left: -10rem;
    position: relative;
    top: -26px;
    left: 210px;
  }

  #instagram i {
    position: relative;
    top: 33px;
    left: -225px;
  }

  #logo {
    max-width: 17%;
    margin: -15px 0 -10px;
  }

  #hero-image {
    width: 400px;
    height: 60%;
    top: 192px;
  }

  #about {
    display: block;
  }

  #bio-image {
    max-width: 88%;
    height: 32rem;
    position: relative;
    top: -30px;
    left: -165px;
  }

  #biography {
    max-width: 95%;
    margin: 0;
    position: relative;
    top: 50px;
    left: 13px;
  }
}

@media (min-width: 320px) and (max-width: 335px) and (orientation: portrait) {
  #contact-details {
    position: relative;
    top: 5px;
    left: 40px;
  }

  #instagram i {
    position: relative;
    top: 9px;
    left: 70px;
  }

  #facebook i {
    position: relative;
    top: 8px;
    left: 105px;
  }
}

@media (min-width: 320px) and (max-width: 329px) and (orientation: portrait) {
  .navbar-toggler {
    margin: -2.5rem 0 0 16rem;
    border: none !important;
  }
}

@media (min-width: 320px) and (max-width: 349px) and (orientation: portrait) {
  #business-name {
    top: 22px;
    left: -225px;
    font-size: 3rem;
  }

  #tag-line {
    top: 350px;
    left: -118px;
  }

  #paw-print {
    top: -1px;
    left: 7px;
    max-width: 8%;
  }

  #reviews-heading {
    font-size: 1.3rem;
  }
}

@media (min-width: 320px) and (max-width: 379px) and (orientation: portrait) {
  #tag-line {
    font-size: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 389px) and (orientation: portrait) {
  .carousel {
    margin-left: 1.2rem;
  }
}

@media (min-width: 330px) and (max-width: 345px) and (orientation: portrait) {
  .navbar-toggler {
    margin: -2.5rem 0 0 17rem;
    border: none !important;
  }
}

@media (min-width: 336px) and (max-width: 359px) and (orientation: portrait) {
  #contact-details {
    position: relative;
    top: 5px;
    left: 50px;
  }

  #facebook i {
    position: relative;
    top: 8px;
    left: 140px;
  }
}

@media (min-width: 346px) and (max-width: 359px) and (orientation: portrait) {
  .navbar-toggler {
    margin: -2.5rem 0 0 18rem;
    border: none !important;
  }
}

@media (min-width: 350px) and (max-width: 359px) and (orientation: portrait) {
  #paw-print {
    top: -1px;
    left: 7px;
    max-width: 8%;
  }

  #reviews-heading {
    font-size: 1.5rem;
  }
}

@media (min-width: 360px) and (max-width: 379px) and (orientation: portrait) {
  .navbar-toggler {
    margin: -2.5rem 0 0 19rem;
    border: none !important;
  }
}

@media (min-width: 350px) and (max-width: 432px) and (orientation: portrait) {
  #business-name {
    top: 18px;
    left: -220px;
    font-size: 3.2rem;
  }

  #tag-line {
    top: 290px;
    left: -102px;
  }
}

@media (min-width: 360px) and (max-width: 432px) and (orientation: portrait) {
  #contact-details {
    position: relative;
    top: -5px;
    left: 60px;
  }

  #facebook i {
    position: relative;
    top: 33px;
    left: -195px;
  }

  #reviews-heading {
    font-size: 1.7rem;
  }
}

@media (min-width: 380px) and (max-width: 432px) and (orientation: portrait) {
  #tag-line {
    font-size: 1.2rem;
  }

  #paw-print {
    top: -1px;
    left: 8px;
    max-width: 8%;
  }
}

@media (min-width: 380px) and (max-width: 396px) and (orientation: portrait) {
  .navbar-toggler {
    margin: -2.5rem 0 0 20rem;
    border: none !important;
  }
}

@media (min-width: 390px) and (max-width: 432px) and (orientation: portrait) {
  .carousel {
    margin-left: 1.35rem;
  }
}

@media (min-width: 397px) and (max-width: 420px) and (orientation: portrait) {
  .navbar-toggler {
    margin: -2.5rem 0 0 21rem;
    border: none !important;
  }
}

@media (min-width: 421px) and (max-width: 432px) and (orientation: portrait) {
  .navbar-toggler {
    margin: -2.5rem 0 0 22rem;
    border: none !important;
  }
}
