@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Sans+Pro&display=swap");

:root {
  --title-font: "Architects Daughter", cursive;
  --box-shadow: 0px 10px 20px 0px #8e8e8e;
  --primary-color: #64c4ed;
  --secondary-color: #1f386c;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1 {
  margin: 7rem 0 10rem 6rem;
  font-family: var(--title-font);
  font-size: 3.5rem;
  text-align: left;
  color: var(--primary-color);
}

.fa-phone,
.fa-envelope {
  margin: 3px 10px 0 0;
  font-size: 1rem;
}

.navbar {
  background-color: #ffffff !important;
  box-shadow: var(--box-shadow);
}

.navbar ul {
  margin-left: -380px;
}

.navbar li {
  margin-right: 20px;
  font-size: 1.1rem;
}

.navbar li:hover {
  color: var(--secondary-color) !important;
}

.active {
  color: var(--secondary-color) !important;
  font-weight: 500;
}

.row {
  margin-left: 4.3rem;
}

.services-subheading {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 2rem;
}

.services-description {
  font-size: 1.5rem;
  line-height: 1.5;
}

.prices-list {
  margin-top: 2rem;
}

.prices-list li {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin: 0 0 0.4rem -0.9rem;
}

.prices-list li span {
  color: var(--primary-color);
  margin-left: 0.5rem;
}

.extras-list {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--secondary-color);
  margin-right: 2rem;
}

.extras-list li {
  margin-bottom: 2rem;
}

.extras-list li span {
  color: #ffffff;
}

#contact-details {
  background-color: var(--primary-color);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

#instagram i {
  margin: 2px 25px 0 0;
  font-size: 1.3rem;
}

#facebook i {
  font-size: 1.25rem;
}

#phone-number,
#email {
  margin-right: 25px;
}

#email,
#instagram,
#facebook {
  text-decoration: none;
  color: #000000;
}

#logo {
  max-width: 12%;
  margin-left: 30px;
}

#full-grooming-section {
  margin: 6rem 0 12rem 9rem;
}

#extras-section {
  margin-left: 15rem;
  background-color: rgba(100, 196, 237, 0.7);
  max-width: 945px;
  border-radius: 5px;
  padding: 2rem;
}

#extras {
  display: flex;
  position: relative;
  top: 25px;
  left: 10px;
}

#call-line {
  margin: 11rem 0 0 22.5rem;
  font-size: 2.5rem;
}

#call-line a {
  color: #000000;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

#call-line a:hover {
  color: var(--secondary-color);
}

#footer {
  background-color: var(--primary-color);
  box-shadow: 0px -3px 20px 0px #8e8e8e;
  height: 7rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.75;
  margin-top: 15rem;
}

#footer span {
  position: relative;
  top: 25px;
}
